._container {
  background-color: white;
  border-radius: 0.9rem;
  text-decoration: none;
  opacity: 0.5;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

._container span {
  background-color: gray;
  color: gray !important;
  ;
}

._container p {
  background-color: gray;
  color: gray !important;
  ;
}

._container h2 {
  background-color: gray;
  color: gray !important;
  ;
}

._container h3 {
  background-color: gray;
  color: gray !important;
  ;
}

._container a {
  background-color: gray;
  color: gray !important;
}